In [1]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [4]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [5]:
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [6]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [7]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [8]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [9]:
response.status_code

200

In [12]:
data = response.json()

In [13]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [14]:
len(data['candles'])

10

In [16]:
prices= ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [17]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [19]:
data['candles'][0]['bid']['o']

'1.08279'

In [21]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    our_data.append(new_dict)
print(our_data)

[{'time': '2023-01-15T23:00:00.000000000Z', 'volume': 3864, 'mid_o': '1.08321', 'mid_h': '1.08358', 'mid_l': '1.08204', 'mid_c': '1.08228', 'bid_o': '1.08279', 'bid_h': '1.08327', 'bid_l': '1.08196', 'bid_c': '1.08220', 'ask_o': '1.08363', 'ask_h': '1.08401', 'ask_l': '1.08213', 'ask_c': '1.08235'}, {'time': '2023-01-16T00:00:00.000000000Z', 'volume': 3789, 'mid_o': '1.08230', 'mid_h': '1.08444', 'mid_l': '1.08214', 'mid_c': '1.08418', 'bid_o': '1.08223', 'bid_h': '1.08436', 'bid_l': '1.08204', 'bid_c': '1.08411', 'ask_o': '1.08238', 'ask_h': '1.08454', 'ask_l': '1.08223', 'ask_c': '1.08426'}, {'time': '2023-01-16T01:00:00.000000000Z', 'volume': 5341, 'mid_o': '1.08418', 'mid_h': '1.08724', 'mid_l': '1.08407', 'mid_c': '1.08680', 'bid_o': '1.08411', 'bid_h': '1.08715', 'bid_l': '1.08399', 'bid_c': '1.08672', 'ask_o': '1.08424', 'ask_h': '1.08733', 'ask_l': '1.08415', 'ask_c': '1.08689'}, {'time': '2023-01-16T02:00:00.000000000Z', 'volume': 4609, 'mid_o': '1.08679', 'mid_h': '1.08743', 'mid_l': '1.08656', 'mid_c': '1.08668', 'bid_o': '1.08670', 'bid_h': '1.08736', 'bid_l': '1.08648', 'bid_c': '1.08661', 'ask_o': '1.08688', 'ask_h': '1.08751', 'ask_l': '1.08664', 'ask_c': '1.08675'}, {'time': '2023-01-16T03:00:00.000000000Z', 'volume': 2538, 'mid_o': '1.08670', 'mid_h': '1.08674', 'mid_l': '1.08594', 'mid_c': '1.08602', 'bid_o': '1.08663', 'bid_h': '1.08666', 'bid_l': '1.08585', 'bid_c': '1.08592', 'ask_o': '1.08677', 'ask_h': '1.08683', 'ask_l': '1.08602', 'ask_c': '1.08611'}, {'time': '2023-01-16T04:00:00.000000000Z', 'volume': 2335, 'mid_o': '1.08600', 'mid_h': '1.08641', 'mid_l': '1.08509', 'mid_c': '1.08530', 'bid_o': '1.08593', 'bid_h': '1.08634', 'bid_l': '1.08501', 'bid_c': '1.08521', 'ask_o': '1.08608', 'ask_h': '1.08649', 'ask_l': '1.08517', 'ask_c': '1.08539'}, {'time': '2023-01-16T05:00:00.000000000Z', 'volume': 2676, 'mid_o': '1.08530', 'mid_h': '1.08612', 'mid_l': '1.08524', 'mid_c': '1.08608', 'bid_o': '1.08522', 'bid_h': '1.08603', 'bid_l': '1.08515', 'bid_c': '1.08599', 'ask_o': '1.08539', 'ask_h': '1.08621', 'ask_l': '1.08531', 'ask_c': '1.08616'}, {'time': '2023-01-16T06:00:00.000000000Z', 'volume': 3654, 'mid_o': '1.08607', 'mid_h': '1.08607', 'mid_l': '1.08361', 'mid_c': '1.08396', 'bid_o': '1.08599', 'bid_h': '1.08599', 'bid_l': '1.08352', 'bid_c': '1.08386', 'ask_o': '1.08615', 'ask_h': '1.08615', 'ask_l': '1.08369', 'ask_c': '1.08405'}, {'time': '2023-01-16T07:00:00.000000000Z', 'volume': 5366, 'mid_o': '1.08395', 'mid_h': '1.08426', 'mid_l': '1.08266', 'mid_c': '1.08311', 'bid_o': '1.08386', 'bid_h': '1.08417', 'bid_l': '1.08257', 'bid_c': '1.08304', 'ask_o': '1.08404', 'ask_h': '1.08435', 'ask_l': '1.08273', 'ask_c': '1.08318'}]

In [22]:
candles_df = pd.DataFrame.from_dict(our_data)

In [23]:
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-01-15T23:00:00.000000000Z,3864,1.08321,1.08358,1.08204,1.08228,1.08279,1.08327,1.08196,1.08220,1.08363,1.08401,1.08213,1.08235
1,2023-01-16T00:00:00.000000000Z,3789,1.08230,1.08444,1.08214,1.08418,1.08223,1.08436,1.08204,1.08411,1.08238,1.08454,1.08223,1.08426
2,2023-01-16T01:00:00.000000000Z,5341,1.08418,1.08724,1.08407,1.08680,1.08411,1.08715,1.08399,1.08672,1.08424,1.08733,1.08415,1.08689
3,2023-01-16T02:00:00.000000000Z,4609,1.08679,1.08743,1.08656,1.08668,1.08670,1.08736,1.08648,1.08661,1.08688,1.08751,1.08664,1.08675
4,2023-01-16T03:00:00.000000000Z,2538,1.08670,1.08674,1.08594,1.08602,1.08663,1.08666,1.08585,1.08592,1.08677,1.08683,1.08602,1.08611
5,2023-01-16T04:00:00.000000000Z,2335,1.08600,1.08641,1.08509,1.08530,1.08593,1.08634,1.08501,1.08521,1.08608,1.08649,1.08517,1.08539
6,2023-01-16T05:00:00.000000000Z,2676,1.08530,1.08612,1.08524,1.08608,1.08522,1.08603,1.08515,1.08599,1.08539,1.08621,1.08531,1.08616
7,2023-01-16T06:00:00.000000000Z,3654,1.08607,1.08607,1.08361,1.08396,1.08599,1.08599,1.08352,1.08386,1.08615,1.08615,1.08369,1.08405
8,2023-01-16T07:00:00.000000000Z,5366,1.08395,1.08426,1.08266,1.08311,1.08386,1.08417,1.08257,1.08304,1.08404,1.08435,1.08273,1.08318

In [24]:
candles_df.to_pickle("EUR_USD_H1.pkl")

In [25]:
test_df = pd.read_pickle("EUR_USD_H1.pkl")

In [26]:
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-01-15T23:00:00.000000000Z,3864,1.08321,1.08358,1.08204,1.08228,1.08279,1.08327,1.08196,1.08220,1.08363,1.08401,1.08213,1.08235
1,2023-01-16T00:00:00.000000000Z,3789,1.08230,1.08444,1.08214,1.08418,1.08223,1.08436,1.08204,1.08411,1.08238,1.08454,1.08223,1.08426
2,2023-01-16T01:00:00.000000000Z,5341,1.08418,1.08724,1.08407,1.08680,1.08411,1.08715,1.08399,1.08672,1.08424,1.08733,1.08415,1.08689
3,2023-01-16T02:00:00.000000000Z,4609,1.08679,1.08743,1.08656,1.08668,1.08670,1.08736,1.08648,1.08661,1.08688,1.08751,1.08664,1.08675
4,2023-01-16T03:00:00.000000000Z,2538,1.08670,1.08674,1.08594,1.08602,1.08663,1.08666,1.08585,1.08592,1.08677,1.08683,1.08602,1.08611
5,2023-01-16T04:00:00.000000000Z,2335,1.08600,1.08641,1.08509,1.08530,1.08593,1.08634,1.08501,1.08521,1.08608,1.08649,1.08517,1.08539
6,2023-01-16T05:00:00.000000000Z,2676,1.08530,1.08612,1.08524,1.08608,1.08522,1.08603,1.08515,1.08599,1.08539,1.08621,1.08531,1.08616
7,2023-01-16T06:00:00.000000000Z,3654,1.08607,1.08607,1.08361,1.08396,1.08599,1.08599,1.08352,1.08386,1.08615,1.08615,1.08369,1.08405
8,2023-01-16T07:00:00.000000000Z,5366,1.08395,1.08426,1.08266,1.08311,1.08386,1.08417,1.08257,1.08304,1.08404,1.08435,1.08273,1.08318