In [2]:
import requests
import defs
import pandas as pd

In [3]:
session = requests.Session()

In [4]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [5]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [6]:
url

'https://api-fxpractice.oanda.com/v3/accounts/101-003-23588756-001/instruments'

In [7]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [8]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [9]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)

In [10]:
response.status_code

200

In [11]:
data = response.json()

In [27]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [28]:
instruments = data['instruments']

In [29]:
instruments[0]

{'name': 'NZD_CAD',
 'type': 'CURRENCY',
 'displayName': 'NZD/CAD',
 'pipLocation': -4,
 'displayPrecision': 5,
 'tradeUnitsPrecision': 0,
 'minimumTradeSize': '1',
 'maximumTrailingStopDistance': '1.00000',
 'minimumTrailingStopDistance': '0.00050',
 'maximumPositionSize': '0',
 'maximumOrderUnits': '100000000',
 'marginRate': '0.1',
 'guaranteedStopLossOrderMode': 'ALLOWED',
 'minimumGuaranteedStopLossDistance': '0.0010',
 'guaranteedStopLossOrderExecutionPremium': '0.0005',
 'guaranteedStopLossOrderLevelRestriction': {'volume': '1000000',
  'priceRange': '0.0025'},
 'tags': [{'type': 'ASSET_CLASS', 'name': 'CURRENCY'}],
 'financing': {'longRate': '-0.0120',
  'shortRate': '-0.0100',
  'financingDaysOfWeek': [{'dayOfWeek': 'MONDAY', 'daysCharged': 1},
   {'dayOfWeek': 'TUESDAY', 'daysCharged': 1},
   {'dayOfWeek': 'WEDNESDAY', 'daysCharged': 1},
   {'dayOfWeek': 'THURSDAY', 'daysCharged': 1},
   {'dayOfWeek': 'FRIDAY', 'daysCharged': 1},
   {'dayOfWeek': 'SATURDAY', 'daysCharged': 0},
   {'dayOfWeek': 'SUNDAY', 'daysCharged': 0}]}}

In [16]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'minimumGuaranteedStopLossDistance', 'guaranteedStopLossOrderExecutionPremium', 'guaranteedStopLossOrderLevelRestriction', 'tags', 'financing'])

In [32]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        piplocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [33]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [34]:
instrument_df

           name      type   displayName  piplocation marginRate
0       NZD_CAD  CURRENCY       NZD/CAD           -4        0.1
1       EUR_SGD  CURRENCY       EUR/SGD           -4        0.1
2      EU50_EUR       CFD     Europe 50            0        0.1
3       XAU_CAD     METAL      Gold/CAD           -2        0.2
4       EUR_AUD  CURRENCY       EUR/AUD           -4        0.1
..          ...       ...           ...          ...        ...
123  USB05Y_USD       CFD  US 5Y T-Note           -2        0.2
124     XCU_USD       CFD        Copper           -4        0.2
125     SGD_CHF  CURRENCY       SGD/CHF           -4        0.1
126     USD_TRY  CURRENCY       USD/TRY           -4       0.25
127     GBP_JPY  CURRENCY       GBP/JPY           -2        0.1

[128 rows x 5 columns]

In [35]:
instrument_df.to_pickle("instruments.pkl")

In [36]:
new_table = pd.read_pickle("instruments.pkl")

In [37]:
new_table

           name      type   displayName  piplocation marginRate
0       NZD_CAD  CURRENCY       NZD/CAD           -4        0.1
1       EUR_SGD  CURRENCY       EUR/SGD           -4        0.1
2      EU50_EUR       CFD     Europe 50            0        0.1
3       XAU_CAD     METAL      Gold/CAD           -2        0.2
4       EUR_AUD  CURRENCY       EUR/AUD           -4        0.1
..          ...       ...           ...          ...        ...
123  USB05Y_USD       CFD  US 5Y T-Note           -2        0.2
124     XCU_USD       CFD        Copper           -4        0.2
125     SGD_CHF  CURRENCY       SGD/CHF           -4        0.1
126     USD_TRY  CURRENCY       USD/TRY           -4       0.25
127     GBP_JPY  CURRENCY       GBP/JPY           -2        0.1

[128 rows x 5 columns]